:root {
    --bg: #F6FBFD;
    --surface: #EAF6FA;
    --primary: #12596F;
    --accent: #2FA3D9;
    --muted: #B9D8E0;
    --text: #0F2A33;
    --text-muted: #456;
    --shadow: 0 4px 10px rgba(17, 40, 42, 0.06);
    --radius: 10px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--bg);
    color: var(--text);
}

.navbar-brand, footer div {
    background: var(--primary);
    color: white;
    box-shadow: var(--shadow);
}


.panel {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    border-radius: calc(var(--radius) - 4px);
    box-shadow: var(--shadow);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    font: inherit;
    cursor: pointer;
    border: none;
    background: none;
}

input,
textarea,
select {
    font: inherit;
    border: 1px solid #ccc;
    padding: 0.5em;
    border-radius: 4px;
    outline: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: none;

}

.container {
    flex: 1;
    width: 90% !important;
    margin: 0 auto;
    padding-top: 10px;
}

.navbar {
    background-color: var(--primary);
    color: var(--accent);
}

.modal .modal-header {
    padding-left: 2.1875rem;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.modal .modal-body label {
    display: block;
    margin-bottom: 10px;
    color: #464646;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 3px;
}

.modal .modal-body .form-control,
.modal .modal-body .form-select {
    padding: 7px 15px;
    border-radius: 15px;
}

.modal .modal-body {
    background: #fff;
    padding: 1.8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn {
    background-color: var(--primary);
    color: var(--surface);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.bi {
    cursor: pointer;
}


.btn:hover {
    background-color: var(--muted);
    color: var(--primary);
}

.btn:active {
    background-color: var(--accent) !important;
    color: var(--surface) !important;
    scale: 0.97;
}

footer {
    background-color: var(--primary);
}

.form-control.is-invalid,
.was-validated .form-control:valid,
.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: none !important;
    padding-right: .75rem !important;
}

.was-validated .form-select:valid:not([multiple]):not([size]) {
    --bs-form-select-bg-icon: none !important;
}